<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML page</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='CSS/style.css')}}">
    <script type="text/javascript" src={{url_for('static', filename='JS/new.js')}}></script>
</head>
<body>
    <input type="button" onclick="sayHello()" value="Say Hello">
    <a href="{{url_for('page1')}}">pure</a>
    <a href="{{url_for('page2', uname='Hamza Ansari')}}">page</a>
    <br>
    <img src="{{url_for('static', filename='Image/railroad.jpg')}}" alt="Image"/>
</body>
</html>